link(rel='stylesheet', href='/css/base.css')

body
    #main
        h1 Hello and welcome.
        p Once there was a thing. There were many like it, but none quite as like it as itself. Over the course of many several clock cycles, this thing became different from itself, while at once maintaining an unbeatable similarity to the thing that it was. But as things go, this did, and the thing was reconsidered, not as the thing it was, but the things it were.

script(src='/js/highland.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/setup.js')
script(src='/js/click-test.js')

